body{

    margin: 0px auto !important;
    width: 940px;
}
header{
    margin-bottom: 20px;
}

section{
    margin-bottom: 40px;
    margin-top: 40px;
}
footer{
    border-top: 100px;
    color: white;
    text-align: center;
}

#tituloNav{
    margin: 0px auto !important;
    width: 440px;
    text-align: center;
    display: block;

}

#img-user{
    margin: 0px auto !important;
    width: 200px;
}